.movable-title {
  cursor: move;
  height: 36px;
  font-size: 14px;
  background-color: #262626;
  color: #aaa;
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
  text-align: left;
  line-height: 36px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: move;
}
.movable-title::before {
  content:'property : ';
  color:#aaa;
  background:url(property-property.png) left 4px no-repeat;
  opacity:1;
  padding-left:18px;
  margin-left:10px;
}
.movable-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: move;
    z-index: 999;
}
