.swiper-navbar-active {
	background: #5393c5;
}

.swiper-navbar {	
	padding: 0 50px;
	cursor: pointer;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	display: block;
	line-height: 40px;
}

.swiper-navbar:active {
	background: #5393c5;
}